:root {
	--main-dark: #212529;
	--main-dark-grey: #555;
	--main-grey: #8d8d8d;
	--main-light-blue: #17a2b8;
	--main-dark-blue: #1757b8;
	--main-purple: #9817b8;
	--main-green: #28a745;
	--main-red: #ff0e26;
	--main-orange: #ffc107;
	--main-yellow: #ffee07;
	--main-white: #fff;
	--font-for-heading: 'Cabin Sketch', cursive;
	--font-default: 'Neucha', cursive;
	--max-width: 1100px;

}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 16px;
}

#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	font-family: var(--font-default);
	display: grid;
	grid-template-rows: 80px 1fr 80px;
}