.tag-list {
	grid-area: Taglist;
	justify-self: end;
	display: flex;
	column-gap: 5px;
	align-items: center;
}

.tag-list__item {
	padding: 5px;
	border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
	border: 2px solid var(--main-dark);
}