.filter-tabs {
    display: flex;
    padding: 20px;
    align-items: center;
    column-gap: 10px;
}

.filter-tabs__item {
    padding: 10px;
    outline: none;
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
    border: 2px solid var(--main-dark);
    color: var(--main-dark);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.filter-tabs__item:hover {
    background-color: var(--main-dark-grey);
    color: var(--main-white);
}