.footer {
	background-color: var(--main-dark);
	height: 100%;
}

.footer__link {
	height: 100%;
	width: 100%;
	color: var(--main-white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
}

.footer__icon {
	padding: 10px;
	font-size: 1.1rem;
}