.tags-bar {
	grid-row: 2/3;
	grid-column: 2/3;
	padding: 10px 20px;
}

.tags-bar__list {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	column-gap: 10px;
	row-gap: 10px;
}

.tags-bar__item {
	padding: 10px;
	outline: none;
	border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
	border: 2px solid var(--main-dark);
	color: var(--main-dark);
	background-color: transparent;
	cursor: pointer;
	transition: all 0.2s;
}

.tags-bar__item:hover {
	background-color: var(--main-grey);
	color: var(--main-white);
}

.tagbar__title {
	font-size: 1.4rem;
	padding-left: 20px;
}