.banner {
	width: 100%;
	height: 200px;
	border: 1px solid var(--main-dark);
	border-radius: 55px 225px 15px 25px/25px 25px 35px 355px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner__moto {
	font-size: 1.5rem;
}

.header {
	font-family: var(--font-for-heading);
}