.banner {
	width: 100%;
	height: 200px;
	border: 1px solid var(--main-dark);
	border-radius: 55px 225px 15px 25px/25px 25px 35px 355px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner__moto {
	font-size: 1.5rem;
}

.header {
	font-family: var(--font-for-heading);
	font-size: 2.5rem;
}

.header__red-letter {
	color: var(--main-red);
	font-size: 2.5rem;
	font-weight: 700;
}
.header__orange-letter {
	color: var(--main-orange);
	font-size: 2.5rem;
}
.header__yellow-letter {
	color: var(--main-yellow);
	font-size: 2.5rem;
}
.header__green-letter {
	color: var(--main-green);
	font-size: 2.5rem;
}
.header__blue-letter {
	color: var(--main-light-blue);
	font-size: 2.5rem;
}
.header__dark-blue-letter {
	color: var(--main-dark-blue);
	font-size: 2.5rem;
}
.header__purple-letter {
	color: var(--main-purple);
	font-size: 2.5rem;
}